.my-website-btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 600 ;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    transition: background-color 0.2s ease-out;
  }
  
  .my-website-btn:hover {
    background-color: #0062cc;
  }
  